/* #out{
    padding-top: 20px;
    padding-left: 20px;
    height: 230px;
    width: 100px;
    background-color: black;
}

#f,#s,#t{
    margin: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#f{background-color: red;}
#s{background-color: yellow;}
#t{background-color: green;} */

/* 
*{
    margin: 0;
    padding: 0;
}

#navbar{
    height: 60px;
    background-color: black;
    color: white;
}

#logo{
    color: yellow;
    font-size: 25px;
}

button{
    background-color: yellow;
}

a{
    margin-right: 160px;
    text-decoration: none;
    color: white;
} */

/* div{
    display: inline;
    background-color: rgba(255,105,180,1);
}

button{
    display: block;
    background-color: red;
} */

/* .contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}


*{
    margin: 0;
    padding: 0;
}

#navbar{
    height: 60px;
    background-color: black;
    color: white;
}

#logo{
    color: yellow;
    font-size: 25px;
}

button{
    background-color: yellow;
}

a{
    margin-right: 160px;
    text-decoration: none;
    color: white;
}

footer{
    background-color: black;
    color:white;
    text-align: center;
}

#content{
    height: 692px;
} */

/* #box1{
    height: 100px;
    width:100px;
    background-color: green;

}

#box2{
    height: 100px;
    width: 30%;
    background-color: pink;
} */

/* 
div {
  height: 100px;
  width: 100px;
  background-image: url("C:\\Users\\Hp\\Pictures\\Screenshots\\Screenshot 2023-12-11 004417.png");
  background-size: cover;
  position: fixed;
  right: 0px;
  bottom: 0px;
} */

/* body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 200px;
    transition-property: all;
    transition-duration: 2s;
}

    #box1:hover,#box2:hover,#box3:hover,#box4:hover,#box5:hover{
    transition-duration: 0.2s;
    font-size: 2em;
} */

/* #container:hover{
    background-color: aqua;
    font-size: 1.8em;
}

#container:active{
    background-color: red;
} */

